/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================= TOP BAR ================= */
.top-bar {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 8px 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 5%;
    background: #e6d6c9; /* beige tone like image */
}

/* Left icons */
.nav-left,
.nav-right {
    display: flex;
    gap: 22px;
    font-size: 18px;
    cursor: pointer;
}

/* Center brand */
.nav-center h1 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

/* Hover effect */
.navbar i:hover {
    opacity: 0.6;
}


/* slider_css */
.slider{
  overflow: hidden;

}
.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.slider figure img{
  float: left;
  width: 20%;
}

@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
 95%{
  left: -300%;
 }
 100%{
  left: -400%;
 }
}
/*  */
.parents_main{
 display: flex;
 height: 220px;
 justify-content:space-around;
 padding: 0px 30px;
 align-items: center;
 background-color: #111;
 color: #fff;
}
.Countries_text{
    font-size: 37px;
    /* font-weight: bold; */
}
.Countries_Shipped{
    font-size:20px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.child_1{
    display: flex;
    gap:28px;
    justify-content: center;
    align-items: center;
}
.Countries_text{
    padding-bottom:9px;
}
/* parents_main_code_css */

.background_img{
    background: url(../Utile/Opera_house_editorial_21st_Feb1444_2_7aef6581-1aa7-4a6b-8e8d-a38b85f2331e.webp);
    width:100%;
    background-repeat: no-repeat;
    height:100vh;
    background-size: cover;
    background-position:center;
    padding: 140px 80px;
    border: 1px solid black;
}

.CATEGORIES_div{
    color: #fff;
}
.CATEGORIES_text_1{
    font-size:25px;
    word-spacing: 2px;
    margin: 19px 0px;
}
.CATEGORIES_text{
    font-size:19px;
     margin-bottom: 50px;
}
/*  */
.img_cart_1{
    width:355px;
    height:445px;
    object-fit: cover;
}
.parents_main_3{
    display: flex;
    justify-content:center;
    margin:30px 0px;
    gap: 10px;
    align-items: center;
}
.New_Arrivals_text{
    font-size: 16px;
    color: #111;
    margin: 10px 0px;
}
.New_Arrivals{
    margin-top:80px;
    margin-left:38px;
    font-size: 38px;
    font-weight: normal;
}
.New_Arrivals_text1{
    color: #4d4b4b;
    margin: 6px 0px;
    font-size:16px;
}
.Navy_img{
    display: flex;
    justify-content:start;
    align-items:center;
    gap: 12px;
    margin: 8px 0px;
}
